In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
df = pd.read_csv("Resources/complete_merged_df.csv")
df.head()

,Unnamed: 0,pha,h,e,a,q,i,om,w,ma,...,v_inf,h_cad,class_AMO,class_APO,class_ATE,class_ETc,class_HTC,class_IEO,class_JFC,class_JFc
0,0,0,0.0,0.9720,17.070,0.479,19.33,311.59,129.61,0.27,...,31.184313,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,1,0,0.0,0.8192,4.336,0.784,9.17,36.11,337.86,14.34,...,15.663247,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,2,0,0.0,0.8483,2.215,0.336,11.78,334.57,186.55,202.74,...,31.636268,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3,0,0.0,0.6336,3.039,1.114,22.39,211.65,1.65,142.75,...,16.878272,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,4,0,0.0,0.9671,17.830,0.586,162.26,58.42,111.33,38.38,...,70.558701,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0